body {
background-color: #FF4A4A;
font-family: 'Helvetica Neue';
text-align: center;
}

h1 {
  font-family: 'Gill Sans';
  font-size: 25;
  font-weight: 100;
  color: #FFFFFF;
}

.choices {
  margin-left: -70px;
  display: inline-block;
}

.choices a {
  margin-left: 50px;
  font-family: 'Gill Sans';
  font-size: 30;
  font-weight: 100;
  color: #FFE6E6;
  text-decoration: none;
  padding: 5px;
}

article {
  width: 700px;
  top: -40px;
/*  margin-left: auto;
  margin-right: auto;*/
  left: 50%;
  margin-left: -350px;
  padding: 0px;
  position: absolute;
}

.pick {
  display: inline-block;
}

.choices a:hover {
  opacity: 1;
}

#welcome  {
  text-align: right;
  font-family: 'Gill Sans';
  font-size: 15;
  font-weight: 100;
  color: #D6D6D6;
}

section {
  position: absolute;
  width: 700px;
  height: 400px;
  top: 300px;
  left: 50%;
  margin-left: -350px;
}

#results  {
  list-style: none;
}

#results li  {
  padding: 5px;
  font-weight: 100;
  font-family: 'Gill Sans';
  margin-bottom: 10px;
  font-size: 20px;
  display: none;
  color: #FFBABA;
}